.Placeholder__root {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--mdsimdg-text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
}
